<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>sabrina heideman</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/site.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Assistant:600" rel="stylesheet">
</head>
<body>
  <header>
    <nav role="navigation" id="home">
      <h1></h1>
      <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        <ul id="menu" class="list-group">
          <li><a href="{{site.baseurl}}/">home</a></li>
          <li><a href="{{site.baseurl}}/about/">about me</a></li>
          <li><a href="{{site.baseurl}}/#contact">contact</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <body>

{{content}}

  </body>
</html>
